.comate_wrapper {
    display: flex;
    max-width: 1280px;
    min-height: 450px;
    margin: 30px auto;
    gap: 80px;
}
.comate_card_wrapper {
    margin-left: 100px;
    text-align: center;

    position: sticky;
    top: 30px;
    align-self: flex-start;
}

.comate_content_wrapper {
    width: 100%;
    margin-right: 100px;
}
.content_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.content_title_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.content_title {
    font-size: 25px;
    font-weight: bold;
}
.content_count {
    color: #777;
    font-size: 25px;
    font-weight: bold;
}
.sort_selector {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}