.order-history-container {
  color: #222;
  min-height: 100vh;
  padding: 30px 80px;
  font-family: "Pretendard", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

/* 뒤로가기 */
.back-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  border: none;
  background: none;
  color: #666;
  cursor: pointer;
  font-size: 14px;
}

.arrow-icon {
  width: 14px;
  height: 14px;
  stroke: #666;
  position: relative;
  top: 0.5px; /* 완벽한 수평 맞춤 */
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
}

/* 주문 카드 */
.order-card {
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 22px 28px;
  margin-bottom: 32px;
}

/* 상단 영역 */
.order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #444;
}

.order-date {
  font-weight: 600;
  margin-right: 10px;
}

.order-no {
  color: #555;
}

.order-status {
  padding: 4px 10px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  background-color: transparent;
}

/* 구분선 */
.divider {
  border: none;
  border-top: 1px solid #000;
  margin: 16px 0;
}

/* 상품 리스트 */
.order-items {
  margin-bottom: 8px;
}

/* 각 상품 */
.order-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.item-img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  border: 1px solid #000;
  object-fit: cover;
  flex-shrink: 0;
}

/* 상품 정보 */
.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-name {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  margin-bottom: 4px;
  line-height: 1.3;
}

.item-detail {
  font-size: 13px;
  color: #666;
}

.extra-items {
  font-size: 13px;
  color: #444;
  margin-left: 96px;
}

/* 하단 영역 */
.order-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.order-total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order-total strong {
  color: #000;
  font-weight: 700;
}

.detail-btn {
  background: none;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s;
}

.detail-btn:hover {
  background: #f5f5f5;
}

.review-btn {
  background: none;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s;
}

.review-btn:hover {
  background: #f5f5f5;
}