.recommend_wrapper {
    margin-right: 50px;
}
.recommend_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
}
.recommend_sub {
    color: #777;
}
.recommend_prd_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 220px;
    gap: 5px;
    padding: 20px 10px;
}
.recommend_prd_grid > * {
    width: 100%;
}
.recommend_prd_img {
    width: 85%;
    border-radius: 5px;
}
.prd_info {
    margin: 5px 10px;
}
.recommend_prd_name {
    font-weight: 500;
    font-size: 15px;
}
.recommend_prd_price {
    font-size: 15px;
}