.review-list-container {
  max-width: 1100px;
  margin: 0 auto;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  box-sizing: border-box;
  width: 100%;
}
.review-title {
  margin: 0;
  padding: 0;
}